@font-face
{
    font-family:Segoe UI;
    src: url(C:\Windows\Fonts\Segoe UI);
}

p
{
font-family:Segoe UI;
font-size:15px;
color:gray;
}

h1
{
    text-align: center;
    font-family:Segoe UI;
    font-size:25px;
    color:black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    float: right;
}
.navbar
{
margin-top:50px;


}

li {
    float: left;
    width: 175px;
}

li a {

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Segoe UI;
    font-size: 25px;
}
.effects {
  transition: 0.6s ease;
  background: #ffffff;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}
.effects:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

.text {
    margin: 50px;
    width: 40%;
}

.left {
    margin-top:50px;
    float: left;
}

.right {
    margin-top:50px;
    float: right;
}

.settings img
{
margin-top:50px;
width:850px;
height:200x;
display: block;
margin:0 auto;
}

